body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width:100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.header-wrap {
  position: relative;
  margin-top : -30px;
  margin-bottom : -28px;
}
.header-gradient {
  background: linear-gradient(125deg, gray, white, 75%, #2C3539);
}

.footer-gradient {
  background: linear-gradient(125deg, gray, white, 75%, black);
}
#designer {
  border-collapse: collapse;
  width: 100%;
}

#designer td, #designer th {
  border: 1px solid #ddd;
  padding: 8px;
}

#designer tr:nth-child(even){background-color: #f2f2f2;}

#designer tr:hover {background-color: #ddd;}

#designer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.calign{
  text-align : center;
}
.hstyle{
  height: 10%;
}

.img-pic{
  position:static;
}
.img-center{
  float:center;
}
.img-left{
  float:left;
}
.img-right{
  float:right;
  padding-left:0.5em;
  padding-top:0.5em;
  padding-right:0.5em;
  padding-bottom:0.5em;
}
.img-product{
  float:left;
  padding: 15px;
}

.column2 {
  float: left;
  width: 50%;
  height:100px;
}

.column3 {
  float: left;
  width: 33.3%;
  height:100px;
}
.column4 {
  float: left;
  width: 25%;
  height:100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2{
  font-size: 180%;
}

h1{
  font-size: 240%;
  font-style: bold; 
}

h3{
  font-size: 140%;
}

ul li {
  padding-left : 5px;
  padding-bottom : 5px;
}

.drawer-line{
  border-bottom: 3px solid #000;
}

.hbar{
  min-width:100%;
  width:100%;
  overflow:hidden;
  background-color:#306754;
}

.hbar-item{
  margin-left:40px;
  padding: 8px 20px 8px 20px;
  float:left;
  border:none;
  display:block;
  outline:1;
}

.hbar-color{
  text-decoration : none;
  color: white;
}

a{
  text-decoration : none;
  color: white;
}

.vbar a:link{
  font-weight: bold;
}

.vbar a:hover {
  background-color: gray;
}

.hbar a:link{
  color: white;
}

.hbar a:hover {
  background-color: gray;
}

.hbar a:visited {
  color: white; 
}

main{
  background-color: white; 
  padding-left:80px;
  padding-right:80px;
  padding-top: 20px;
  padding-bottom: 20px;
  height:1000px;
}

label {
  color: black;
  float: left;
  width: 15em;
  padding-left: 2em;
  font-weight: bold;
  text-align: left;
}

input {
  width: 15em;
  margin: 0 0 1em 1em;
}
.choice{
  padding-left: 10em;
}
[type="radio"] {
      width: 20px;
      margin : 0.5em;
}
#button{
  width: 7em;
  background-color: silver;
  box-shadow: 2px 2px 0 blue; }
  #button {
  margin-left: 9em;
}


footer{
  border-top: 2px solid #000;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
